@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-----------------------------------*\
 * #PROPIEDADES PERSONALIZADAS
\*-----------------------------------*/

:root {
    /** 
     * colores
     */
    --darkgrey: #1d1d1d;
    /* letras principales*/
    --blue: #007aff;
    /*color de botones principales*/
    --blue-hover: #5f9ddf;
    /*color hover boton principal*/
    --orange: #ffab41;
    /*color de boton secundario, estrellas*/
    --orange-hover: #ffbc67;
    /*color hover boton naranja*/
    --purple: #5a31f4;
    /*color shop pay*/
    --purple-hover: #3c0def;
    /*color hover boton purpura*/
    --lightgray: #949494;
    /*letras secundarias*/
    --black: #000000;
    --darkpink: #f04f36;
    /*valores de precios en rebaja*/
    --darkred: #bf2636;
    /* stock agotado*/
    --grey: #808080;
    --green: #3c9554;
    /* en stock*/
    --color-body: #ffffff;
    /*body*/
    --color-bg: #ffffff;
    /*background*/
    --white: #ffff;
    /**
     * tipografia
     */
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-russo: 'Russo One', sans-serif;
    --font-size-heading-large: 2.125rem;
    --font-size-heading-medium: 1.875rem;
    --font-size-h-1: 1.75rem;
    --font-size-h-2: 1.625rem;
    --font-size-h-3: 1.5rem;
    --font-size-h-4: 1.25rem;
    --font-size-h-5: 1.125rem;
    --font-size-h-6: 1.125rem;
    --font-size-body-larger: 1.375rem;
    --font-size-body-large: 1.25rem;
    --font-size-body-medium: 1.125rem;
    --font-size-body: 1rem;
    --font-size-body-smallss: 1.05rem;
    --font-size-body-smalls: .95rem;
    --font-size-body-small: .9375rem;
    --font-size-body-smaller: .875rem;
    --font-size-body-smallest: .8125rem;
    --font-size-body-tiny: .75rem;
    --font-size-button-small: .875rem;
    --font-size-button-medium: 1rem;
    --font-size-button-large: 1.125rem;
    --font-size-button-x-large: 1.3125rem;
    --font-size-menu-large: 1.0625rem;
    --font-size-menu: 1rem;
    --font-size-input: 1rem;
    --font-size-section-heading: 1.25rem;
    --font-size-menu-body-medium: 1.125rem;
    --font-size-menu-body-small: .9375rem;
    --font-size-heading-body-small: .9375rem;
    --font-size-heading-body-smaller: .875rem;
    --font-size-heading-slideshow: 1.9921875rem;
    /**
     * transiciones
     */
    --transition1: 0.25s ease-in-out;
    --transition2: 0.30s;
    --transition3: 0.35s;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    /**
     * border-radius
     */
    --radius-0: 0px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-25: 25px;
}


/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
input,
button {
    background: none;
    border: none;
    font: inherit;
}

span {
    display: block;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    font-family: var(--ff-roboto);
    scroll-behavior: smooth;
}

body {
    background: var(--color-body);
}



/*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/

  .botones {
    display: flex;
    flex-direction: column;
    gap: 1 rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    height: 45px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition2);
}

.btn:hover {
    background-color: var(--blue-hover);
    border-radius: var(--radius-5);
}

.container {

    margin: 30px 45px;
}

.container_title {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 2% 0 0 0;
  }

  .container_title .title-box {
    font-size: 2.2em;
    font-weight: 300;
    font-family: var(--ff-russo);
    letter-spacing: 1px;
  }

  .container_title .paragraph-box {
    font-size: 1em;
    color: #000000a6;
  }


/*-----------------------------------*\
   * #Boton de buscar
  \*-----------------------------------*/

.search-btn {
    background-color: var(--blue);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    width: 54px;
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}

.search-btn i {
    width: 100%;
    height: 100%;
    display: block;
    font-size: var(--font-size-body-large);
    transition: var(--transition3);
    padding: 13px;
}

.search-btn i:hover {
    background-color: var(--blue-hover);
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}


/*-----------------------------------*\
   * #Boton Principal
  \*-----------------------------------*/

.primary-btn {
    width: 110px;
    height: 45px;
    color: var(--white);
    background-color: var(--blue);
    padding: 0 20px;
    font-weight: bold;
    border-radius: var(--radius-5);
}


/*-----------------------------------*\
   * #Boton Naranja
  \*-----------------------------------*/

.secundary-btn {
    background-color: #ffab41;
    border: 1px solid #ffab41;
    font-size: var(--font-size-button-large);
    padding: 1rem 1.75rem;
    letter-spacing: 0em;
    width: 323px;
    padding: 1.5rem;
    border-radius: var(--radius-5);
    transition: var(--transition2);
}

.secundary-btn:hover {
    background-color: var(--orange-hover);
}


/*-----------------------------------*\
   * #Boton Purpura
  \*-----------------------------------*/

.btn-shop-pay {
    background: var(--purple);
    border-color: var(--purple);
    width: 548px;
    border-radius: var(--radius-5);
    transition: var(--transition2);
    padding: 1rem;
    font-weight: normal;
}

.btn-shop-pay .shop-pay-logo {
    color: var(--white);
    height: 150%;
    margin-left: 4px;
    font-size: var(--font-size-button-x-large);
}

.btn-shop-pay:hover {
    background-color: var(--purple-hover);
}


/*-----------------------------------*\
   * #Botones ocultos
  \*-----------------------------------*/

.hidden-btn {
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 7px;
    transition: var(--transition2);
    padding: 0.5rem;  
    font-size: var(--font-size-body-small); 
    color: var(--white);
    font-weight: bold;
}

.hidden-btn:hover {
    background-color: var(--blue-hover);

}






/*-----------------------------------*\
   * #CABECERA
  \*-----------------------------------*/

.headerS {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--black);
  
}


.busquedaS {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding: 1% 7%;

}

.busqueda__logoContenedor {
    width: 10%;
    display: flex;
    flex-direction: column;
}

.busqueda__logoContenedor a img {

    width: 100%;
    height: 100%;

}

.tituloGonzo {
    font-size: 1.8em;
    letter-spacing: 1px;
}

.tituloKlean {
    font-size: 1.5em;
    letter-spacing: 1px;
    font-style: italic;
    display: flex;
    justify-content: end;
    padding-right: 15%;
    
}


.busqueda__logoImg {
    width: 100%;
}

.busqueda__contenedor {
    display: flex;
    align-items: center;
    width: 50%;
    background-color: var(--black);
   
}

.busqueda__contenedor .menuNavegacion{

    background-color: var(--black);
    
}

.busqueda__contenedor .menuNavegacion a{

   color: var(--white);
    
}

.busqueda__contenedorInput {
    border: .2px solid rgba(128, 128, 128, 0.388);
    height: 80%;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorInput::placeholder {
    color: rgba(128, 128, 128, 0.576);
}

.busqueda__contenedorButton {
    background-color: var(--blue);
    width: 10%;
    height: 80%;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorButton:hover {
    background-color: var(--blue-hover);
}

.busqueda__contenedorButton svg {
    color: var(--white);
}

.busqueda__puestoEnlace {
    display: flex;
}

.busqueda__puesto {
    display: flex;
    align-items: center;
    gap: 3px;
}

.buesqueda__puestoContenedorImg {
    display: flex;
    justify-content: center;
}

.buesqueda__puestoContenedorImg svg {
    width: 65%;
    color: var(--black);
}

.buesqueda__puestoContenedortxt {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contenedorTxtUno {
    font-size: var(--font-size-body-small);
    font-weight: 600;
    color: var(--black);
}

.contenedorTxtDos {
    font-size: var(--font-size-body-smaller);
    font-weight: 300;
    color: var(--black);
}

.buesqueda__sesion {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.buesqueda__sesionEnlaceUno {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 55%;
}

.buesqueda__sesionEnlaceUno svg {
    width: 16%;
    color: var(--white);
    fill: white;
}

.buesqueda__sesionEnlaceUno:hover svg {
   fill: var(--blue);
}
.buesqueda__sesionEnlaceUno:hover .login {
  color: var(--blue);
 }

.login {
    color: white;
    font-size: 1em;
    font-weight: 600;
}

.buesqueda__sesionEnlaceDos {
    width: 25%;
}

.buesqueda__sesionEnlaceDos svg {
    width: 100%;
    color: var(--white);
    fill: white;
}

.buesqueda__sesionEnlaceDos:hover svg {
    color: var(--blue);
}

/*-----------------------------------*\
   * Menu de Navegacion
  \*-----------------------------------*/

.menuNavegacion {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    
   
}

.menuNavegacion__enlaceFlexss {
    width: 0%;
   
}

.menuNavegacion__enlaceFlexListaElemento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 4em;
    gap: 3%;
    
}

.menuNavegacion a {
    color: var(--black);
    font-size: 1em;
    font-weight: 600;
}

.menuNavegacion a:hover {
    color: var(--blue);
    transition: var(--transition3);
}

.elementoAparece {
    box-sizing: border-box;
    background-color: var(--white);
    width: 17%;
    position: absolute;
    z-index: 100;
    margin-left: -9%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    display: none;
    padding: 1%;
   
}

.contenedor__menuNavegacion {
 
    height: 3.4em;
    display: flex;
    align-items: center;
}

.contenedor__menuNavegacion:hover .elementoAparece {
    display: flex;
}

.section__elementoAparece {
    box-sizing: border-box;
    width: 100%;
}

.contenedorLista__elementoAparece {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 5%;
    
}

.contenedorLista__elementoAparece li a {
    font-size: var(--font-size-body-smalls);
    font-size: 1em;
    font-weight: 500;
    color: black;
}

.lista__elementoAparece .contenedorLista__elementoAparece li a {
    flex-basis: 12%;
    color: black;
}

.lista__elementoAparece li a:hover {
    color: var(--blue-hover);
}



/*-----------------------------------*\
   * #HEADER
  \*-----------------------------------*/


  .cabeceraheader {
    box-sizing: border-box;
    width: 100%;
    height: 70vh;
    background:  url(../recursos2/banner-magic-clean-3-COMPRI.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
}

.cabeceraheader section  {
    width: 15%;
    
}


.cabeceraheader section img {
    width:100%;
    
}



.imgProducts1 {
    display: flex;
    align-items: end;
    padding-bottom: 5%;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 7px); }
    100%   { transform: translate(0, -0px); }   
}


.imgProducts0 {
    padding-top: 2%;
    animation-name: floata;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floata {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -7px); }
    100%   { transform: translate(0, -0px); }   
}

.cabeceraheaderTitulo {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2%;
    padding-left: 3%;
    
}


.cabeceraheader section h1 {
   font-family: var(--ff-russo);
   font-size: 2.2em;
   text-shadow:5px 5px 1px #ffffff;

    
}







/*-----------------------------------*\
   * #ABOUT US
  \*-----------------------------------*/

.about_us {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px 0 0 0;
    margin-top: 3%;
}

.about_us .container_about_us{
    width: 90%;
    
    display: flex;
    justify-content: space-between;
}




.about_us .container_about_us .about_us_col1 {
    width: 66.9%;
    
}

.about_us .container_about_us .about_us_col2 {
    width: 33%;
    
}

.about_us .container_about_us .about_us_col2 img {
    width: 85%;
    height: 70%;
    margin-left: 10%;
}

.first_zone {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

}

.first_zone .button_zone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fac632;
    color: var(--white);
    padding: 10px 35px;

}

.first_zone .line_about {
   
    width: 100%;
    border: 1px solid black;
    opacity: .1;
}

.second_zone {
    margin-bottom: 40px;
}

.second_zone p {
    line-height: 25px;
}

.third_zone {
    margin-bottom: 25px;
}







/*-----------------------------------*\
   * #IFRAME MAP
  \*-----------------------------------*/

  .contendor_map {
    box-sizing: border-box;
    padding: 0 0 0 0;
}

.contendor_map iframe {
    width: 100%;
    height: 23em;
}








/*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/
  .footer {
    box-sizing: border-box;
    width: 100%;
}

.footer_principal {
    box-sizing: border-box;
    width: 100%;
    background-color: #2f2f2fe4;
    padding: 6% 7% 3% 7%;
    display: flex;
    justify-content: space-between;
}

.footer_principalSeccion1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex-basis: 20%;
}

.footer_principalSeccion1 img {
    width: 100%;
    margin-bottom: 45px;
   
}

.footer_principalSeccion1 p{
    color: var(--white);
}


.footer_principalSeccion1 a{
    color: rgb(0, 145, 255);
}

.footer_principalSeccion1 a:hover{
    color: rgb(0, 179, 255);
}

.footer_principalSeccion2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_principalSeccion2 h5 {
   color: var(--white);
   font-family: var(--ff-russo);
   font-size: 1.4em;
   font-weight: 100;
   margin-bottom: 45px;
}

.footer_principalSeccion2 ul {
    display: flex;
    flex-direction: column;
    gap: 17px;
 }

 .footer_principalSeccion2 ul li a {
    color:  rgb(0, 145, 255);
 }

 .footer_principalSeccion2 ul li a:hover {
    color:rgb(0, 179, 255);
 }

 .footer_principalSeccionFormulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
 }

 .footer_principalSeccionFormulario h5 {
    color: var(--white);
   font-family: var(--ff-russo);
   font-size: 1.4em;
   font-weight: 100;
   margin-bottom: 35px;
 }

 
.footer_principalSeccionFormulario form {

   display: flex;
   flex-direction: column;
   gap: 5px;
}

.footer_principalSeccionFormulario label {

    color: var(--white);
 }

.footer_principalSeccionFormulario input  {
    background-color: var(--white);
    width: 120%;
    height: 3em;
    margin-bottom: 18px;
}

.footer_principalSeccionFormulario button {
width: 30%;
 padding: 2% 0;
 background-color: rgb(0, 145, 255);
 color: var(--white);
 letter-spacing: 1px;
 border: none;
}

.footer_principalSeccionFormulario button:hover {
     background-color: rgb(0, 179, 255); 
     
}

.footer_secundario {
    box-sizing: border-box;
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #1d1d1d;
}

.footer_secundario p {
    color: var(--white);
    font-size: .9em;
    font-weight: 300;
}