@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-----------------------------------*\
 * #PROPIEDADES PERSONALIZADAS
\*-----------------------------------*/

:root {
    /** 
     * colores
     */
    --darkgrey: #1d1d1d;
    /* letras principales*/
    --blue: #007aff;
    /*color de botones principales*/
    --blue-hover: #5f9ddf;
    /*color hover boton principal*/
    --orange: #ffab41;
    /*color de boton secundario, estrellas*/
    --orange-hover: #ffbc67;
    /*color hover boton naranja*/
    --purple: #5a31f4;
    /*color shop pay*/
    --purple-hover: #3c0def;
    /*color hover boton purpura*/
    --lightgray: #949494;
    /*letras secundarias*/
    --black: #000000;
    --darkpink: #f04f36;
    /*valores de precios en rebaja*/
    --darkred: #bf2636;
    /* stock agotado*/
    --grey: #808080;
    --green: #3c9554;
    /* en stock*/
    --color-body: #ffffff;
    /*body*/
    --color-bg: #ffffff;
    /*background*/
    --white: #ffff;
    /**
     * tipografia
     */
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-russo: 'Russo One', sans-serif;
    --font-size-heading-large: 2.125rem;
    --font-size-heading-medium: 1.875rem;
    --font-size-h-1: 1.75rem;
    --font-size-h-2: 1.625rem;
    --font-size-h-3: 1.5rem;
    --font-size-h-4: 1.25rem;
    --font-size-h-5: 1.125rem;
    --font-size-h-6: 1.125rem;
    --font-size-body-larger: 1.375rem;
    --font-size-body-large: 1.25rem;
    --font-size-body-medium: 1.125rem;
    --font-size-body: 1rem;
    --font-size-body-smallss: 1.05rem;
    --font-size-body-smalls: .95rem;
    --font-size-body-small: .9375rem;
    --font-size-body-smaller: .875rem;
    --font-size-body-smallest: .8125rem;
    --font-size-body-tiny: .75rem;
    --font-size-button-small: .875rem;
    --font-size-button-medium: 1rem;
    --font-size-button-large: 1.125rem;
    --font-size-button-x-large: 1.3125rem;
    --font-size-menu-large: 1.0625rem;
    --font-size-menu: 1rem;
    --font-size-input: 1rem;
    --font-size-section-heading: 1.25rem;
    --font-size-menu-body-medium: 1.125rem;
    --font-size-menu-body-small: .9375rem;
    --font-size-heading-body-small: .9375rem;
    --font-size-heading-body-smaller: .875rem;
    --font-size-heading-slideshow: 1.9921875rem;
    /**
     * transiciones
     */
    --transition1: 0.25s ease-in-out;
    --transition2: 0.30s;
    --transition3: 0.35s;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    /**
     * border-radius
     */
    --radius-0: 0px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-25: 25px;
}


/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    font-family: var(--ff-roboto);
    scroll-behavior: smooth;
}

body {
    background: var(--color-body);
}


/*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/

.botones {
    display: flex;
    flex-direction: column;
    gap: 1 rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    height: 45px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition2);
}

.btn:hover {
    background-color: var(--blue-hover);
    border-radius: var(--radius-5);
}

.container {
    margin: 30px 45px;
}

.container_title {
    box-sizing: border-box;
    width: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 2% 0 0 0;
}

.container_title .title-box {
    font-size: 2.2em;
    font-weight: 300;
    font-family: var(--ff-russo);
    letter-spacing: 1px;
}

.container_title .paragraph-box {
    font-size: 1em;
    color: #000000a6;
}


/*-----------------------------------*\
   * #Boton de buscar
  \*-----------------------------------*/

.search-btn {
    background-color: var(--blue);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    width: 54px;
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}

.search-btn i {
    width: 100%;
    height: 100%;
    display: block;
    font-size: var(--font-size-body-large);
    transition: var(--transition3);
    padding: 13px;
}

.search-btn i:hover {
    background-color: var(--blue-hover);
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}


/*-----------------------------------*\
   * #Boton Principal
  \*-----------------------------------*/

.primary-btn {
    width: 110px;
    height: 45px;
    color: var(--white);
    background-color: var(--blue);
    padding: 0 20px;
    font-weight: bold;
    border-radius: var(--radius-5);
}


/*-----------------------------------*\
   * #Boton Naranja
  \*-----------------------------------*/

.secundary-btn {
    background-color: #ffab41;
    border: 1px solid #ffab41;
    font-size: var(--font-size-button-large);
    padding: 1rem 1.75rem;
    letter-spacing: 0em;
    width: 323px;
    padding: 1.5rem;
    border-radius: var(--radius-5);
    transition: var(--transition2);
}

.secundary-btn:hover {
    background-color: var(--orange-hover);
}


/*-----------------------------------*\
   * #Boton Purpura
  \*-----------------------------------*/

.btn-shop-pay {
    background: var(--purple);
    border-color: var(--purple);
    width: 548px;
    border-radius: var(--radius-5);
    transition: var(--transition2);
    padding: 1rem;
    font-weight: normal;
}

.btn-shop-pay .shop-pay-logo {
    color: var(--white);
    height: 150%;
    margin-left: 4px;
    font-size: var(--font-size-button-x-large);
}

.btn-shop-pay:hover {
    background-color: var(--purple-hover);
}


/*-----------------------------------*\
   * #Botones ocultos
  \*-----------------------------------*/

.hidden-btn {
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: 7px;
    transition: var(--transition2);
    padding: 0.5rem;
    font-size: var(--font-size-body-small);
    color: var(--white);
    font-weight: bold;
}

.hidden-btn:hover {
    background-color: var(--blue-hover);
}


/*-----------------------------------*\
   * #CABECERA
  \*-----------------------------------*/

.headerS {
    box-sizing: border-box;
    width: 100%;
}

.busquedaS {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding: 1% 7%;
}

.busqueda__logoContenedor {
    box-sizing: border-box;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.busqueda__logoContenedor a {
    display: flex;
    justify-content: center;
}

.busqueda__logoContenedor img {
    width: 80%;
}

.busqueda__contenedor {
    display: flex;
    align-items: center;
    width: 50%;
}

.busqueda__contenedorInput {
    border: .2px solid rgba(128, 128, 128, 0.388);
    height: 80%;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorInput::placeholder {
    color: rgba(128, 128, 128, 0.576);
}

.busqueda__contenedorButton {
    background-color: var(--blue);
    width: 10%;
    height: 80%;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorButton:hover {
    background-color: var(--blue-hover);
}

.busqueda__contenedorButton svg {
    color: var(--white);
}

.busqueda__puestoEnlace {
    display: flex;
}

.busqueda__puesto {
    display: flex;
    align-items: center;
    gap: 3px;
}

.buesqueda__puestoContenedorImg {
    display: flex;
    justify-content: center;
}

.buesqueda__puestoContenedorImg svg {
    width: 65%;
    color: var(--black);
}

.buesqueda__puestoContenedortxt {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contenedorTxtUno {
    font-size: var(--font-size-body-small);
    font-weight: 600;
    color: var(--black);
}

.contenedorTxtDos {
    font-size: var(--font-size-body-smaller);
    font-weight: 300;
    color: var(--black);
}

.buesqueda__sesion {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.buesqueda__sesionEnlaceUno {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 55%;
}

.buesqueda__sesionEnlaceUno svg {
    width: 16%;
    color: var(--black);
}

.buesqueda__sesionEnlaceUno p {
    color: var(--black);
    font-size: 1em;
    font-weight: 600;
}

.buesqueda__sesionEnlaceUno:hover svg {
    fill: var(--blue);
    transition: var(--transition3)
}

.buesqueda__sesionEnlaceUno:hover p {
    color: var(--blue);
    transition: var(--transition3)
}

.buesqueda__sesionEnlaceDos {
    width: 25%;
}

.buesqueda__sesionEnlaceDos svg {
    width: 100%;
    color: var(--black);
}

.buesqueda__sesionEnlaceDos:hover svg {
    color: var(--blue);
}


/*-----------------------------------*\
   * Menu de Navegacion
  \*-----------------------------------*/

.menuNavegacion {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
}

.menuNavegacion__enlaceFlexss {
    width: 0%;
}

.menuNavegacion__enlaceFlexListaElemento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 4em;
    gap: 3%;
}

.menuNavegacion a {
    color: var(--black);
    font-size: 1em;
    font-weight: 600;
}

.menuNavegacion a:hover {
    color: var(--blue);
    transition: var(--transition3);
}

.elementoAparece {
    box-sizing: border-box;
    background-color: var(--white);
    width: 17%;
    position: absolute;
    z-index: 100;
    margin-left: -9%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    display: none;
    padding: 1%;
}

.contenedor__menuNavegacion {
    height: 3.4em;
    display: flex;
    align-items: center;
}

.contenedor__menuNavegacion:hover .elementoAparece {
    display: flex;
}

.section__elementoAparece {
    box-sizing: border-box;
    width: 100%;
}

.contenedorLista__elementoAparece {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 5%;
}

.contenedorLista__elementoAparece li a {
    font-size: var(--font-size-body-smalls);
    font-size: 1em;
    font-weight: 500;
}

.lista__elementoAparece {
    flex-basis: 12%;
}

.lista__elementoAparece li a:hover {
    color: var(--blue-hover);
}


/*-----------------------------------*\
   * #BANNER PRINCIPAL CONTENEDOR PADRE
  \*-----------------------------------*/

#carrusel-contenido {
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
    height: 80vh;
}

#carrusel-caja {
    -moz-animation: automatizacion 15s infinite linear;
    -o-animation: automatizacion 15s infinite linear;
    -webkit-animation: automatizacion 15s infinite linear;
    animation: automatizacion 15s infinite linear;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
    height: 80vh;
    width: 300%;
}

.carrusel-elemento {
    background-image: url(../recursos2/MCS-Janitorial.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    float: left;
    width: 33.333%;
    height: 80vh;
}

.carrusel-elemento--a {
    background-image: url(../recursos2/Slider-Opcion-3.jpg);
    display: flex;
    justify-content: space-evenly;
}

.carrusel-elemento--b {
    background-image: url(../recursos2/laundry-1-slider-3.jpg);
    display: flex;
}

@-moz-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@-webkit-keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}

@keyframes automatizacion {
    0% {
        margin-left: 0;
    }
    30% {
        margin-left: 0;
    }
    35% {
        margin-left: -100%;
    }
    65% {
        margin-left: -100%;
    }
    70% {
        margin-left: -200%;
    }
    95% {
        margin-left: -200%;
    }
    100% {
        margin-left: 0;
    }
}


/*-----------------------------------*\
   * #BANNER PRINCIPAL ELEMENTOS
     DE ADENTRO
  \*-----------------------------------*/

.carrusel_section {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.carrusel_section-img {
    flex-basis: 30%;
}

.carrusel_section-imga {
    display: flex;
    justify-content: center;
    padding-top: 22%;
}

.img1 {
    width: 30%;
}

.carrusel_section-imgb {
    padding-top: 10%;
    padding-left: 7%;
}

.img2 {
    width: 60%;
}

.carrusel_section-imgc {
    padding-top: 3%;
}

.img2 {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.img1,
.img3 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.carrusel_section-imagenes {
    width: 80%;
    padding-top: 10%;
    padding-left: 10%;
    display: flex;
}

.img4 {
    position: relative;
    z-index: 1;
    object-fit: contain;
    width: 50%;
}

.img5 {
    position: relative;
    z-index: 2;
    object-fit: contain;
    width: 40%;
    margin-left: -23%;
    margin-top: 10%;
}

.img6 {
    position: relative;
    z-index: 3;
    object-fit: contain;
    width: 40%;
    margin-left: -13%;
    margin-top: 10%;
}

.img4 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.img5 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5.5s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 5.5s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.img6 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.carrusel_section-imagenesss {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    padding: 2% 5% 0 0;
}

.img7 {
    width: 120%;
}

.img8 {
    width: 50%;
}

.img7 {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
    animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6s both;
}

@-webkit-keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.img8 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.5s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 6.5s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.carrusel-elemento--bImagena,
.carrusel-elemento--bImagenb {
    flex-basis: 40%;
    display: flex;
}

.img9,
.img10 {
    width: 90%;
    height: 20%;
    object-fit: contain;
}

.carrusel-elemento--bImagenb {
    align-items: center;
}

.img10 {
    height: 50%;
}

.carrusel-elemento--bImagena {
    padding-top: 2%;
}

.img9 {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 10.8s both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 10.8s both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.img10 {
    -webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11.2s both;
    animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 11.2s both;
}

@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(50px);
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


/*-----------------------------------*\
   * SECCION ELIAS
  \*-----------------------------------*/

  .padresss {
    margin: 5% auto;
    display: flex;
    align-content: center;
    align-items: center;
    width: 97%;
    height: 60vh;
    border-radius: 20px 5px 20px 5px;
    background-image: url(../recursos2/limp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow:  8px 8px 16px #a8a8a8,
     -8px -8px 16px #ffffff; 
     /*background:linear-gradient(125deg, #06026b, #191585);*/
}

#tar {
    padding: 2% 0;
    margin: 2% auto;
    width: 22%;
    height: 80%;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.57);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.04);
}


#tar h1 {
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 1.6em;
}

#tar p {
    font-size: 1em;
    letter-spacing: 1px;
    line-height: 1.6em;
}

#tar:hover {
    background-color: rgb(255, 255, 255, 0.94);
    transition: 0.5s;
    cursor: pointer;
    transform: scale();
}

#tar hr {
   align-self: center;
    width: 50%;
}

#buttom {
    text-align: center;
   margin: 10% auto;
   
}

#buttom a {
    
    text-decoration: none;
    color: white;
}


#a button {
  width: 150px;
  height: 35px;
  background-color: blue;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

#a button:hover {
  transform: scale(0.95);
  transition: 0.6s;
}
  
 
.elemt--titulo {
    font-size: 1.8em;
    text-align: center;
}

.elemt--text {
    margin: 10%;
    text-align: center;
}

/*contenedor descriptivo de los productos */


/* .supplies {
    display: flex;
    justify-content: center;
    width: 85%;
    padding: 5%;
    gap: 35px;
    margin: 4% auto;
    border-radius: 7px;
    background-color: #000000;
    /* background: linear-gradient(125deg, #e6e6e6, #ffffff);
    box-shadow: 8px 8px 16px #a8a8a8, -8px -8px 16px #ffffff;*/


/* -webkit-box-shadow: inset -1px 4px 81px -36px rgba(255, 255, 255, 1);
    -moz-box-shadow: inset -1px 4px 81px -36px rgba(255, 255, 255, 1);
    box-shadow: inset -1px 4px 81px -36px rgba(255, 255, 255, 1);
} */


/* termino del contenedor descriptivo de los productos */


/*tarjeta de la descripcion de los productos */


/* 
.sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
    width: 100%;
    height: 32em;
    padding: 2%;
    border-radius: 0px;
    background: linear-gradient(145deg, #0e0e0e, #0c0c0c);
    box-shadow: 19px 19px 38px #080808, -19px -19px 38px #121212;
}

.sup h1 {
    font-size: 1.35rem;
}

.imagen img:hover {
    transform: scale(1.2);
    transition: 0.4s;
}

.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.texto h1 {
    color: goldenrod;
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
}

.texto p {
    color: var(--white);
    display: flex;
    text-align: center;
    line-height: 1.6em;
    font-size: 1em;
    font-weight: 300;
}

.texto button {
    display: flex;
    align-items: center;
    border-radius: 15px;
    width: 60%;
    background-color: orangered;
    box-sizing: border-box;
}

.texto button a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    overflow-x: hidden;
    padding: 2%;
    border-radius: 15px;
}

.flecha__aparece {
    width: 25px;
    display: none;
}

.Know:hover {
    padding: 2%;
}

.Know:hover .flecha__aparece {
    display: block;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    98% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    } 
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    98% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
} */


/*tarjeta de la descripcion de los productos */


/*-----------------------------------*\
   * SECCION Edward
  \*-----------------------------------*/


/*-----------------------------------*\
   * #tarjetas
  \*-----------------------------------*/


/* imagen*/

.containerProducts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 35px;
    row-gap: 45px;
    padding: 0 5%;
    margin: 50px 0;
}

.card-tarjetas {
    height: 100%;
    width: 100%;
    padding: 5% 5%;
    background-color: #f6f5f3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 7px;
    box-shadow: 8px 8px 16px #dddddd, -8px -8px 16px #ffffff;
}

.card-tarjetas .oculto {
    background-color: transparent;
    color: transparent;
    transition: var(--transition2);
}

.card-tarjetas .oculto:hover {
    background-color: var(--blue);
    color: var(--white);
}

.card-tarjetas .img-product {
    overflow: hidden;
    margin-bottom: 20px;
}

.card-tarjetas .img-product a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: var(--transition2);
}

.card-tarjetas .img-product img:hover {
    transform: scale(1.05);
}


/* titulo*/

.card-tarjetas .title-card {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: var(--font-size-body-large);
}

.card-tarjetas .title-card a {
    color: black;
    transition: var(--transition2);
}

.card-tarjetas .title-card a:hover {
    color: var(--orange);
}


/* sub titulo*/

.card-tarjetas .description-card p:nth-child(1) {
    font-size: var(--font-size-body-smallest);
    color: var(--grey);
    padding: 0 5px 10px 5px;
}

.card-tarjetas .description-card p:nth-child(2) {
    color: var(--blue);
    padding: 0 5px 10px 5px;
}

.card-tarjetas .description-card p:nth-child(3) {
    color: var(--green);
    padding: 0 5px 0px 5px;
}


/* boton*/

.card-tarjetas .button-hide {
    display: flex;
    justify-content: center;
}


/*-----------------------------------*\
   * #SECCION kitchen cleaning
  \*-----------------------------------*/



  .container_kitchen {
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 5px; 
  }

  .container_kitchen .container_bg1 {
    background: url(../recursos2/Restaurant-Cleaners-blue.jpg);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container_info_kitchen_father {
    
    background-color: var(--white);
    width: 60%;
    margin: 20px 0 20px 0;
    height: auto;
    z-index: 10;
    border-radius: 10px;
  
  }

  .container_info_kitchen .title_info_kitchen {
    display: flex;
    width: 100%;
    padding: 40px;
    

  }

  .container_info_kitchen .title_info_kitchen .title_kitchen:nth-child(1) {
    width: 50%;
    border-left: 2px solid #0c579a; 
  }

  .container_info_kitchen .title_info_kitchen .title_kitchen h4 {
    padding-left: 20px;
  }


  .container_info_kitchen .title_info_kitchen .title_kitchen h4:nth-child(1) {
    font-size: 45px;
    text-transform: uppercase;
    color: #011550;
  }

  .container_info_kitchen .title_info_kitchen .title_kitchen h4:nth-child(2) {
    font-size: 45px;
    text-transform: uppercase;
    color: #96C63A;
  }
  

  /*-----------------------------------*\
   * #SECCION Acordeon
  \*-----------------------------------*/

  .options_service {
    box-shadow: 3px 2px 34px -14px rgba(0,0,0,0.72);
    max-width: 85%;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px 10px 20px 10px;
    margin: auto;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .content .accordion_item {
    background-color: #e5dfff;
    transition: .3s;
  }

  .content .accordion_item:hover {
    background-color: #96C63A;
  }
  
  .accordion_item {
    border-radius: 5px;
  }
  
  .accordion_item:hover {
    opacity: 0.9;
  }
  
  .accordion_header {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

  }
  
  .accordion_content {

    overflow: hidden;
    display: flex;
    justify-content: space-between;
    height: 0;
    transition: all .5s ease;
    font-size: 16px;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #011550;
    
  }

  .list_accordion {
    padding: 20px 30px;
    line-height: 25px;
  }

  .list_accordion ul li {
    display: flex;
    align-items: center;
  }

  .list_accordion ul li i {
    display: block;
    color: #96C63A;
    padding-right: 10px;
  }
  
  .active {
    padding-bottom: 10px;
  }
  
  span, .icon {
    font-weight: 600;
    font-size: 18px;
  }
  
  p {
    text-align: justify;
  }

  




/*-----------------------------------*\
   * #SECCION INSTAGRAM
  \*-----------------------------------

.contenedor_instagram {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instagram__grid {
    box-sizing: border-box;
    width: 100%;
    padding: 0 5%;
}

.instagram__grid h5 {
    box-sizing: border-box;
    font-size: 2.2em;
    font-weight: 400;
}

.instagram__gridImagenes {
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2% 0;
}

.instagramGridImagen {
    background: url(../recursos2/pexels-photo-4440540.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 34em;
    grid-column: 1/3;
    grid-row: 1/3;
    cursor: pointer;
}

.instagramGridImagen:hover {
    filter: grayscale(5);
}

.instagramGridImagen--a {
    background: url(../recursos2/pexels-photo-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
}

.instagramGridImagen--b {
    background: url(../recursos2/pexels-photo-3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 4/5;
}

.instagramGridImagen--c {
    background: url(../recursos2/pexels-photo-4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
}

.instagramGridImagen--d {
    background: url(../recursos2/producos-de-limpieza-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
    grid-row: 2/3;
}

.instagramGridImagen--e {
    background: url(../recursos2/como-hacer-tus-propios-productos-de-limpieza\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 2/3;
}

.instagramGridImagen--f {
    background: url(../recursos2/imagen6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
    grid-row: 2/3;
}

.instagramGridImagen--g {
    background: url(../recursos2/composicion-flat-lay-productos-limpieza-7.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 1/2;
    grid-row: 3/4;
}

.instagramGridImagen--h {
    width: 100%;
    height: 17em;
    grid-column: 2/3;
    grid-row: 3/4;
}

.instagramGridImagen--h video {
    width: 100%;
    height: 17em;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.instagramGridImagen--h video:hover {
    filter: grayscale(5);
}

.instagramGridImagen--i {
    background: url(../recursos2/imagen11.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
    grid-row: 3/4;
}

.instagramGridImagen--j {
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 3/4;
}

.instagramGridImagen--j video {
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 3/4;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.instagramGridImagen--j video:hover {
    filter: grayscale(5);
}

.instagramGridImagen--k {
    background: url(../recursos2/imagen12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
    grid-row: 3/4;
}

*/


/*-----------------------------------*\
   * #BOTONES INSTAGRAM
  \*-----------------------------------

.instagam_botones {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.instagram_boton2 a img {
    width: 20px;
}

.instagram_boton1 {
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    font-size: var(--font-size-body-small);
}

.instagram_boton1:hover {
    background-color: rgba(215, 215, 215, 0.759);
}

.instagram_boton1 a {
    color: #000000;
}

.instagram_boton2 {
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    font-size: var(--font-size-body-small);
    background-color: rgb(0, 145, 255);
}

.instagram_boton2:hover {
    background-color: rgb(0, 179, 255);
}

.instagram_boton2 a {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3px;
}

*/


/*-----------------------------------*\
   * #IFRAME MAP
  \*-----------------------------------*/

.contendor_map {
    box-sizing: border-box;
    padding: 3% 0 0 0;
}

.contendor_map iframe {
    width: 100%;
    height: 23em;
}


/*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/

.footer {
    box-sizing: border-box;
    width: 100%;
}

.footer_principal {
    box-sizing: border-box;
    width: 100%;
    background-color: #2f2f2fe4;
    padding: 6% 7% 3% 7%;
    display: flex;
    justify-content: space-between;
}

.footer_principalSeccion1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex-basis: 20%;
}

.footer_principalSeccion1 img {
    width: 100%;
    margin-bottom: 45px;
}

.footer_principalSeccion1 p {
    color: var(--white);
}

.footer_principalSeccion1 a {
    color: rgb(0, 145, 255);
}

.footer_principalSeccion1 a:hover {
    color: rgb(0, 179, 255);
}

.footer_principalSeccion2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_principalSeccion2 h5 {
    color: var(--white);
    font-family: var(--ff-russo);
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 45px;
}

.footer_principalSeccion2 ul {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.footer_principalSeccion2 ul li a {
    color: rgb(0, 145, 255);
}

.footer_principalSeccion2 ul li a:hover {
    color: rgb(0, 179, 255);
}

.footer_principalSeccionFormulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_principalSeccionFormulario h5 {
    color: var(--white);
    font-family: var(--ff-russo);
    font-size: 1.4em;
    font-weight: 100;
    margin-bottom: 35px;
}

.footer_principalSeccionFormulario form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_principalSeccionFormulario label {
    color: var(--white);
}

.footer_principalSeccionFormulario input {
    background-color: var(--white);
    width: 120%;
    height: 3em;
    margin-bottom: 18px;
}

.footer_principalSeccionFormulario button {
    width: 30%;
    padding: 2% 0;
    background-color: rgb(0, 145, 255);
    color: var(--white);
    letter-spacing: 1px;
    border: none;
}

.footer_principalSeccionFormulario button:hover {
    background-color: rgb(0, 179, 255);
}

.footer_secundario {
    box-sizing: border-box;
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #1d1d1d;
}

.footer_secundario p {
    color: var(--white);
    font-size: .9em;
    font-weight: 300;
}


/*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/


/*-----------------------------------*\
   * #footer
  \*-----------------------------------*/