@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-----------------------------------*\
 * #PROPIEDADES PERSONALIZADAS
\*-----------------------------------*/

:root {
    /** 
     * colores
     */
    --darkgrey: #1d1d1d;
    /* letras principales*/
    --blue: #007aff;
    /*color de botones principales*/
    --blue-hover: #1a87ff;
    /*color hover boton principal*/
    --orange: #ffab41;
    /*color de boton secundario, estrellas*/
    --orange-hover: #ffbc67;
    /*color hover boton naranja*/
    --purple: #5a31f4;
    /*color shop pay*/
    --purple-hover: #3c0def;
    /*color hover boton purpura*/
    --lightgray: #949494;
    /*letras secundarias*/
    --black: #000000;
    --darkpink: #f04f36;
    /*valores de precios en rebaja*/
    --darkred: #bf2636;
    /* stock agotado*/
    --grey: #808080;
    --green: #3c9554;
    /* en stock*/
    --color-body: #ffffff;
    /*body*/
    --color-bg: #ffffff;
    /*background*/
    --white: #ffff;
    /**
     * tipografia
     */
    --ff-montserrat: "Montserrat", sans-serif;
    --ff-roboto: 'Roboto', sans-serif;
    --ff-russo: 'Russo One', sans-serif;
    --font-size-heading-large: 2.125rem;
    --font-size-heading-medium: 1.875rem;
    --font-size-h-1: 1.75rem;
    --font-size-h-2: 1.625rem;
    --font-size-h-3: 1.5rem;
    --font-size-h-4: 1.25rem;
    --font-size-h-5: 1.125rem;
    --font-size-h-6: 1.125rem;
    --font-size-body-larger: 1.375rem;
    --font-size-body-large: 1.25rem;
    --font-size-body-medium: 1.125rem;
    --font-size-body: 1rem;
    --font-size-body-smallss: 1.05rem;
    --font-size-body-smalls: .95rem;
    --font-size-body-small: .9375rem;
    --font-size-body-smaller: .875rem;
    --font-size-body-smallest: .8125rem;
    --font-size-body-tiny: .75rem;
    --font-size-button-small: .875rem;
    --font-size-button-medium: 1rem;
    --font-size-button-large: 1.125rem;
    --font-size-button-x-large: 1.3125rem;
    --font-size-menu-large: 1.0625rem;
    --font-size-menu: 1rem;
    --font-size-input: 1rem;
    --font-size-section-heading: 1.25rem;
    --font-size-menu-body-medium: 1.125rem;
    --font-size-menu-body-small: .9375rem;
    --font-size-heading-body-small: .9375rem;
    --font-size-heading-body-smaller: .875rem;
    --font-size-heading-slideshow: 1.9921875rem;
    /**
     * transiciones
     */
    --transition1: 0.25s ease-in-out;
    --transition2: 0.30s;
    --transition3: 0.35s;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    /**
     * border-radius
     */
    --radius-0: 0px;
    --radius-10: 10px;
    --radius-15: 15px;
    --radius-25: 25px;
}


/*-----------------------------------*\
   * #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
span,
input,
label,
button,
input,
button {
    background: none;
    border: none;
    font: inherit;
}

button {
    cursor: pointer;
}

input {
    width: 100%;
}

html {
    font-family: var(--ff-roboto);
    scroll-behavior: smooth;
}

body {
    background: var(--color-body);
}


/*-----------------------------------*\
   * #CABECERA
  \*-----------------------------------*/

.headerS {
    box-sizing: border-box;
    width: 100%;
}

.titleS {
    background-color: var(--darkgrey);
    display: flex;
    justify-content: center;
    padding: 1% 0;
}

.titleS__letra {
    color: var(--white);
    font-size: var(--font-size-h-6);
    font-weight: 400;
}

.busquedaS {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding: 1% 5%;
}

.busqueda__logoContenedor {
    width: 10%;
}

.busqueda__logoImg {
    width: 100%;
}

.busqueda__contenedor {
    display: flex;
    align-items: center;
    width: 50%;
   
}

.busqueda__contenedorInput {
    border: .2px solid rgba(128, 128, 128, 0.388);
    height: 80%;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorInput::placeholder {
    color: rgba(128, 128, 128, 0.576);
}

.busqueda__contenedorButton {
    background-color: var(--blue);
    width: 10%;
    height: 80%;
    border-radius: 0 5px 5px 0;
    -webkit-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 6px 23px -20px rgba(0, 0, 0, 0.75);
}

.busqueda__contenedorButton:hover {
    background-color: var(--blue-hover);
}

.busqueda__contenedorButton svg {
    color: var(--white);
}

.busqueda__puestoEnlace {
    display: flex;
}

.busqueda__puesto {
    display: flex;
    align-items: center;
    gap: 3px;
}

.buesqueda__puestoContenedorImg {
    display: flex;
    justify-content: center;
}

.buesqueda__puestoContenedorImg svg {
    width: 65%;
    color: var(--black);
}

.buesqueda__puestoContenedortxt {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.contenedorTxtUno {
    font-size: var(--font-size-body-small);
    font-weight: 600;
    color: var(--black);
}

.contenedorTxtDos {
    font-size: var(--font-size-body-smaller);
    font-weight: 300;
    color: var(--black);
}

.buesqueda__sesion {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.buesqueda__sesionEnlaceUno {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 55%;
}

.buesqueda__sesionEnlaceUno svg {
    width: 16%;
    color: var(--black);
}

.buesqueda__sesionEnlaceUno p {
    color: var(--black);
    font-size: var(--font-size-body-smaller);
    font-weight: 600;
}

.buesqueda__sesionEnlaceDos {
    width: 25%;
}

.buesqueda__sesionEnlaceDos svg {
    width: 100%;
    color: var(--black);
}


/*-----------------------------------*\
   * Menu de Navegacion
  \*-----------------------------------*/

.menuNavegacion {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
}

.menuNavegacion__enlaceFlexss {
    width: 0%;
}

.menuNavegacion__enlaceFlexListaElemento {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    gap: 3%;
}

.menuNavegacion a {
    color: var(--black);
    font-weight: 500;
}

.menuNavegacion a:hover {
    color: var(--grey);
    transition: var(--transition3);
}

.elementoAparece {
    box-sizing: border-box;
    background-color: var(--white);
    width: 17%;
    position: absolute;
    margin-left: -9%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    display: none;
   
}

.contenedor__menuNavegacion {
 
    height: 3.4em;
    display: flex;
    align-items: center;
}

.contenedor__menuNavegacion:hover .elementoAparece {
    display: flex;
}

.section__elementoAparece {
    box-sizing: border-box;
    width: 100%;
}

.contenedorLista__elementoAparece {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 5%;
}

.contenedorLista__elementoAparece li a {
    font-size: var(--font-size-body-smalls);
    font-weight: 400;
}

.lista__elementoAparece {
    flex-basis: 12%;
}

.lista__elementoAparece li a:hover {
    color: var(--blue-hover);
}


/*-----------------------------------*\
   * #BANNER PRINCIPAL
  \*-----------------------------------*/

.bannerPrincipal {
    background-image: url(../recursos2/ChinChile-Products_9cbda658-28e8-42f7-95e5-a29824245cbb_1583x880.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 80.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerPrincipal__button {
    background-color: var(--blue);
    font-size: var(--font-size-button-large);
    font-weight: 400;
    padding: .9% 2.2%;
    border-radius: 3px;
}

.bannerPrincipal__button a {
    color: var(--white);
}

/*-----------------------------------*\
   * SECCION ELIAS
  \*-----------------------------------*/

  /*contenedor descriptivo de los productos */
.supplies {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 480px;
    gap: 35px;
    margin: 4% auto;
    border-radius: 7px;
    background:linear-gradient(125deg, #e6e6e6, #ffffff);
    box-shadow:  8px 8px 16px #a8a8a8,
     -8px -8px 16px #ffffff;  
}
/* termino del contenedor descriptivo de los productos */

/*tarjeta de la descripcion de los productos */
.sup {
    text-align: center;
    width: 230px;
    height: 280px;   
}

.sup h1 {
    font-size: 1.35rem;
}

.imagen img:hover {

    transform: scale(1.2);
    transition: 0.4s;
}

.texto h1 {
    color: goldenrod; 
}

#a a{
    text-decoration: none;
    color: rgb(144, 107, 15);
}

#a:hover {
    transform: scale(0.95);
    transition: 0.7s;
}

#a a:hover {
    color:  rgb(113, 85, 12);
    transition: 0.5s;
}
/*tarjeta de la descripcion de los productos */


/*-----------------------------------*\
   * SECCION Edward
  \*-----------------------------------*/


/*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/

  .botones {
    display: flex;
    flex-direction: column;
    gap: 1 rem;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 10px;
    height: 45px;
    font-weight: bold;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition2);
}

.btn:hover {
    background-color: var(--blue-hover);
    border-radius: var(--radius-5);
}


/*-----------------------------------*\
   * #Boton de buscar
  \*-----------------------------------*/

.search-btn {
    background-color: var(--blue);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    width: 54px;
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}

.search-btn i {
    width: 100%;
    height: 100%;
    display: block;
    font-size: var(--font-size-body-large);
    transition: var(--transition3);
    padding: 13px;
}

.search-btn i:hover {
    background-color: var(--blue-hover);
    border-radius: 0 var(--radius-5) var(--radius-5) 0;
}


/*-----------------------------------*\
   * #Boton Principal
  \*-----------------------------------*/

.primary-btn {
    width: 110px;
    height: 45px;
    color: var(--white);
    background-color: var(--blue);
    padding: 0 20px;
    font-weight: bold;
    border-radius: var(--radius-5);
}


/*-----------------------------------*\
   * #Boton Naranja
  \*-----------------------------------*/

.secundary-btn {
    background-color: #ffab41;
    border: 1px solid #ffab41;
    font-size: var(--font-size-button-large);
    padding: 1rem 1.75rem;
    letter-spacing: 0em;
    width: 323px;
    padding: 1.5rem;
    border-radius: var(--radius-5);
    transition: var(--transition2);
}

.secundary-btn:hover {
    background-color: var(--orange-hover);
}


/*-----------------------------------*\
   * #Boton Purpura
  \*-----------------------------------*/

.btn-shop-pay {
    background: var(--purple);
    border-color: var(--purple);
    width: 548px;
    border-radius: var(--radius-5);
    transition: var(--transition2);
    padding: 1rem;
    font-weight: normal;
}

.btn-shop-pay .shop-pay-logo {
    color: var(--white);
    height: 150%;
    margin-left: 4px;
    font-size: var(--font-size-button-x-large);
}

.btn-shop-pay:hover {
    background-color: var(--purple-hover);
}


/*-----------------------------------*\
   * #Botones ocultos
  \*-----------------------------------*/

.hidden-btn {
    background-color: var(--blue);
    border-color: var(--blue);
    border-radius: var(--radius-5);
    transition: var(--transition2);
    width: 200px;
    font-size: var(--font-size-body-small);
    height: 30px;
    color: var(--white);
    font-weight: bold;
}

.hidden-btn:hover {
    background-color: var(--blue-hover);

}

/*-----------------------------------*\
   * #tarjetas
  \*-----------------------------------*/

 /* imagen*/

  .container-cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 25px;
    margin: 30px 0px 30px 30px;
  
    
    
  }

  .card-tarjetas {
    height: 390px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow:  8px 8px 16px #dddddd,
                -8px -8px 16px #ffffff;
  
  }

  .card-tarjetas .img-product {
    overflow: hidden;
    margin-bottom: 20px;
  }

 

  .card-tarjetas .img-product a img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
 
    transition: var(--transition2);
  }

  .card-tarjetas .img-product img:hover {
    transform: scale(1.5);
  }

  /* titulo*/

.card-tarjetas .title-card {
 display: flex;
 justify-content: center;
 
}

.card-tarjetas .title-card a {
    color: black;
    transition: var(--transition2);
}

.card-tarjetas .title-card a:hover {
    color: var(--blue);
}

/* sub titulo*/

.card-tarjetas .description-card p:nth-child(1){
    font-size: var(--font-size-body-smallest);
    padding: 0 5px 10px 5px;
}

.card-tarjetas .description-card p:nth-child(2){
   color: var(--blue);
    padding: 0 5px 10px 5px;
}

.card-tarjetas .description-card p:nth-child(3){
    color: var(--green);
     padding: 0 5px 0px 5px;
 }


 /* boton*/

 .card-tarjetas .button-hide {
    display: flex;
    justify-content: center;
    
    
 }





/*-----------------------------------*\
   * SECCION CARRUSEL
  \*-----------------------------------*/
/*

.testimonial-client svg {
    fill: #ebd10c;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.slider-testimonial {
    width: 60%;
}

.testimonial-item {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial-client {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    gap: 6px;
}

.testimonial-image {
    background-image: url(../recursos2/concepto-emociones-personas-foto-cabeza-hombre-atractivo-feliz-riendo-sonriendo-exprese-regocijo_1258-26742.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 20%;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-image--b {
    background-image: url(../recursos2/stock-photo-handsome-man-smiling.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 20%;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-image--c {
    background-image: url(../recursos2/stock-photo-handsome-man-smiling-camera-isolated.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   width: 20%;
    height: 8rem;
    border-radius: 50%;
    margin-bottom: 10px;
}

.testimonial-text p {
    font-size: var(--font-size-body-small);
    font-style: italic;
    line-height: 1.6em;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgba(0, 0, 0, 0.661);
    padding: 0 1.5%;
}

.testimonial-name {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.testimonial-name h4 {
    color: #000000a7;
}*/





/*-----------------------------------*\
   * #SECCION INSTAGRAM
  \*-----------------------------------*/

  .contenedor_instagram{
    box-sizing: border-box;
    width: 100%;
     display: flex;
     flex-direction: column;
    justify-content: center;

  }

  

  .instagram_titulo {
    box-sizing: border-box;
    width: 40%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    padding: 2% 0 0 0;
  }

  .instagram_titulo h1 {
    font-size: 2.2em;
    font-weight: 300;
    font-family: var(--ff-russo);
    letter-spacing: 1px;
  }

  .instagram_titulo p {
    font-size: 1em;
    color: #000000a6;
  }

  .instagram__grid {
    box-sizing: border-box;
    width: 100%;

    padding: 0 5%;
  }

  .instagram__grid h5 {
    box-sizing: border-box;
    font-size: 2.2em;
    font-weight: 400;
  
  } 

.instagram__gridImagenes{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 2% 0;
    
}



.instagramGridImagen {
    background: url(../recursos2/pexels-photo-4440540.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 34em;
    grid-column: 1/3;
    grid-row: 1/3;
    cursor: pointer;
}

.instagramGridImagen:hover{
    filter: grayscale(5);
    
}

.instagramGridImagen--a {
    background: url(../recursos2/pexels-photo-2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
}

.instagramGridImagen--b {
    background: url(../recursos2/pexels-photo-3.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 4/5;
}

.instagramGridImagen--c {
    background: url(../recursos2/pexels-photo-4.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
}

.instagramGridImagen--d {
    background: url(../recursos2/producos-de-limpieza-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
    grid-row: 2/3;
}

.instagramGridImagen--e {
    background: url(../recursos2/como-hacer-tus-propios-productos-de-limpieza\ 6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 2/3;
}

.instagramGridImagen--f {
    background: url(../recursos2/imagen6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
    grid-row: 2/3;
}

.instagramGridImagen--g {
    background: url(../recursos2/composicion-flat-lay-productos-limpieza-7.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 1/2;
    grid-row: 3/4;
}

.instagramGridImagen--h {
    width: 100%;
    height: 17em;
    grid-column: 2/3;
    grid-row: 3/4;
}

.instagramGridImagen--h video {
    width: 100%;
    height: 17em;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.instagramGridImagen--h video:hover {
    filter: grayscale(5);
}

.instagramGridImagen--i {
    background: url(../recursos2/imagen11.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 3/4;
    grid-row: 3/4;
}

.instagramGridImagen--j {
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 3/4;
}

.instagramGridImagen--j video {
    width: 100%;
    height: 17em;
    grid-column: 4/5;
    grid-row: 3/4;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

.instagramGridImagen--j video:hover {
    filter: grayscale(5);
}

.instagramGridImagen--k {
    background: url(../recursos2/imagen12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 17em;
    grid-column: 5/6;
    grid-row: 3/4;
}



/*-----------------------------------*\
   * #BOTONES INSTAGRAM
  \*-----------------------------------*/


.instagam_botones{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;

}

.instagram_boton2 a img {
    width: 20px;
}

.instagram_boton1 {
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    font-size: var(--font-size-body-small);
}

.instagram_boton1:hover {
   background-color: rgba(215, 215, 215, 0.759);
}

.instagram_boton1 a {
    color: #000000;
}

.instagram_boton2 {
    border: none;
    border-radius: 3px;
    padding: 0.5% 1%;
    font-size: var(--font-size-body-small);
    background-color: rgb(0, 179, 255);
}

.instagram_boton2:hover {
   background-color:  rgb(0, 145, 255);
}

.instagram_boton2 a {
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 3px;
    

}





/*-----------------------------------*\
   * #IFRAME MAP
  \*-----------------------------------*/

.contendor_map {
    box-sizing: border-box;
    padding: 3% 0 0 0;
}

.contendor_map iframe {
    border: 5px solid rgb(230, 0, 107);
    width: 100%;
    height: 23em;
}





/*-----------------------------------*\
   * #FOOTER
  \*-----------------------------------*/

.footer {
    box-sizing: border-box;
    width: 100%;
}

.footer_principal {
    box-sizing: border-box;
    width: 100%;
    background-color: #2f2f2fe4;
    padding: 6% 7% 3% 7%;
    display: flex;
    justify-content: space-between;
}

.footer_principalSeccion1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;


}

.footer_principalSeccion1 img {
    margin-bottom: 35px;
}

.footer_principalSeccion1 p{
    color: var(--white);
}


.footer_principalSeccion1 a{
    color:#2bf060;
}

.footer_principalSeccion1 a:hover{
    color:#05c238;
}

.footer_principalSeccion2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.footer_principalSeccion2 h5 {
   color: var(--white);
   font-family: var(--ff-russo);
   font-size: 1.4em;
   font-weight: 100;
   margin-bottom: 45px;
}

.footer_principalSeccion2 ul {
    display: flex;
    flex-direction: column;
    gap: 17px;
    color: #2bf060;
 }

 .footer_principalSeccion2 ul li a {
    color: #2bf060;
 }

 .footer_principalSeccion2 ul li a:hover {
    color:#05c238;
 }

 .footer_principalSeccionFormulario {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
 }

 .footer_principalSeccionFormulario h5 {
    color: var(--white);
   font-family: var(--ff-russo);
   font-size: 1.4em;
   font-weight: 100;
   margin-bottom: 35px;
 }

 
.footer_principalSeccionFormulario form {

   display: flex;
   flex-direction: column;
   gap: 5px;
}

.footer_principalSeccionFormulario label {

    color: var(--white);
 }

.footer_principalSeccionFormulario input  {
    background-color: var(--white);
    width: 120%;
    height: 3em;
    margin-bottom: 18px;
}

.footer_principalSeccionFormulario button {
width: 30%;
 padding: 2% 0;
 background-color: #05c238;
 color: var(--white);
 letter-spacing: 1px;
 border: none;
}

.footer_principalSeccionFormulario button:hover {
     background-color: #2bf060; 
     
}

.footer_secundario {
    box-sizing: border-box;
    width: 100%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    background: #1d1d1d;
}

.footer_secundario p {
    color: var(--white);
    font-size: .9em;
    font-weight: 300;
}
/*-----------------------------------*\
   * #REUSED STYLE
  \*-----------------------------------*/


/*-----------------------------------*\
   * #footer
  \*-----------------------------------*/